:root {
  --default-font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  --primary-color: var(--el-color-primary);
  --success-color: var(--el-color-success);
  --warning-color: var(--el-color-warning);
  --danger-color: var(--el-color-danger);
  --main-color: var(--el-text-color-primary);
  --normal-color: var(--el-text-color-regular);
  --info-color: var(--el-text-color-secondary);
  --placeholder-color: var(--el-text-color-placeholder);
  --border-color: var(--el-border-color);
}
