@font-face {
  font-family: "ygo-custom1";
  src: url("ygo-custom1.woff2") format("woff2"),
  url("ygo-custom1.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "ygo-custom2";
  src: url("ygo-custom2.woff2") format("woff2"),
  url("ygo-custom2.woff") format("woff");
  font-display: swap;
}
